{% extends 'core/base.html' %}

{% load static %}

{% block title %}Main{% endblock %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block imports %}
    <script type="text/javascript" src="{% static 'js/test.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

    <body>
        <h1 id="cam_h1">Camera On</h1>
        <div id="cam_container">
            <video autoplay="true" id="videoElement" width="720" height="480"></video>
        </div>
    </body>

{% endblock %}