{% extends 'core/base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mv-6 text-3xl">Log in</h1>

        <form method="post" action="." novalidate>
            {% csrf_token %}

            {% for fm in form %}
                <div class="form-group">
                    {{ fm.label_tag }}
                    {{ fm }}
                    <small class="form-text text-danger">{{ fm.errors|striptags }}</small>
                </div>
            {% endfor %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="er">{{ error }}</p>
                {% endfor %}
            {% endif %}

                <button class="py-4 px-8 mt-5 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Login</button>
        </form>
    </div>
{% endblock %}